streamlit>=1.24.0
pandas>=1.5.0
altair>=4.2.0
pyahocorasick
wordcloud>=1.8.0
matplotlib>=3.5.0
openpyxl
lxml>=4.9.0
xmltodict>=0.13.0
plotly>=5.13.0
pyhive>=0.7.0
thrift>=0.16.0
pure-sasl
thrift-sasl>=0.4.3